
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  padding: 0;
}
body{
  font-size: 17px;
}
a{
  cursor: pointer;
}
a:hover{
  background-color: gray;
  border-radius: 100px;
}hr{
  opacity: 0.23;
}
button{
border: none;
width: 290px;
border-radius: 100px;
cursor: pointer;
transition: 0.3s;
margin:5px 4px;
font-weight: 900; 
text-transform:uppercase;
opacity:0.89;padding: 15px ;
color:black;


}
.btn1{
background: white;
}
.btn2{
background: rgba(128, 128, 128, 0.87);
}
.btn1:hover{
background: black;
color: white;
width: 280px;
}
.btn2:hover{
background: gray;
width: 280px;
}
@media only screen and (max-width:769px){
  button{
    width:70%;
  }
 
  .btn1:hover,.btn2:hover{
    width:69%;
  }
 
}

li{
  list-style: none;
}

LeftButton:hover{
  background: #000;
  color: white;
}


@keyframes arrowdown {
  0%{
 
      width: 62px;
      transform: translateY(1px);
  }50%{

      width: 70px;
      transform: translateY(2px);
  }75%{

      width: 76px;
      transform: translateY(3px);
  }
  100%{
    width: 80px;
    transform: translateY(4px);
    opacity: 0.45;
  }
}

.links{
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.links a{
  padding: 10px 9px;
  color: black;
  cursor: pointer ;
 margin: 0 4px;
 text-decoration: none;
}
.links a:hover{
background-color: rgba(128, 128, 128, 0.637) ;
border-radius: 130px ;
font-weight: 900 ;
transition: 0.9s ;

}


hr{
  opacity:0.13;
}


@media  screen and (max-width:997px) {
 
  .logo{
    padding: 0;
  }
  .right-nav{
    display: none;
  }

}

@media screen  and (max-width:769px){
  body{
    font-size: 16px;
    color: b;
  }
}
@media screen  and (min-width:480px) and (max-width:768px){
  body{
    font-size: 15px;
  }
}
@media screen and (max-width:479px) {
  body{
    font-size: 14px;
  }
}